<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>homepage</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">       
    </head>
  <div class="container-fluid p-3 my-3 bg-dark text-white">
    <header>    
        <div class="mx-auto" style="width: 600px;">
            <h1>Grey Sloan Memorial Hospital</h1>
        </div>
        <div class="mx-auto" style="width: 300px;">
            <h3>Seattle's #1 Hospital</h3>
        </div>
      </div>     
      </div>
    </header>
</html>